<%- include('partials/header') %>
    <main>
        <h1>Organizations</h1>
        <p>Here are a few of our partner organizations:</p>
        <ul>
            <% if (organizations && organizations.length > 0) { %>
                <% organizations.forEach(org => { %>
                    <li>
                        <img src="/images/<%= org.logo_filename %>" alt="<%= org.name %> logo">
                        <strong><%= org.name %></strong>: <%= org.contact_email %>
                        <br>
                        <em><%= org.description %></em>
                    </li>
                <% }); %>
            <% } else { %>
                <li>No organizations found</li>
            <% } %>
        </ul>
    </main>
<%- include('partials/footer') %>