<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
    <div class="organizations-grid">
        <% organizations.forEach(organization => { %>
            <div class="organization-card">
                <% if (organization.logo_filename) { %>
                    <img src="/images/<%= organization.logo_filename %>" alt="<%= organization.name %> logo">
                <% } %>
                <h2>
                    <a href="/organization/<%= organization.organization_id %>">
                        <%= organization.name %>
                    </a>
                </h2>
                <p><%= organization.description %></p>
                <p>Email: <a href="mailto:<%= organization.contact_email %>"><%= organization.contact_email %></a></p>
            </div>
        <% }) %>
    </div>
</main>
<%- include('partials/footer') %>